db/my_faiss_store.faiss/index.faiss filter=lfs diff=lfs merge=lfs -text
db/my_faiss_store.faiss/index.pkl filter=lfs diff=lfs merge=lfs -text
text2vec-base-chinese-paraphrase/*.bin filter=lfs diff=lfs merge=lfs -text